# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bos_fore/src/test
/bos_fore/target
/bos_management/target
/bos_management/src/test
/crm_domain/target
/crm_domain/src/test
/crm_management/target
/crm_management/src/test
/bos_sms/target
/bos_sms/src/test
