<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 扫描 @Server @Controller @Repository -->
	<context:component-scan base-package="cn.itcast.bos"/>
	
	<!-- 加载properties文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	
	<!-- 导入dataSource -->
	<import resource="applicationContext-dataSource.xml"/>
	
	<!-- 导入webService -->
	<import resource="applicationContext-webService.xml"/>
	
	<!-- 导入quartz -->
	<import resource="applicationContext-quartz.xml"/>
	
	<!-- 导入activeMQ -->
	<import resource="applicationContext-mq.xml"/>
	
	<!-- 导入elasticsearch -->
	<import resource="applicationContext-elasticsearch.xml"/>
	
	<!-- shiro权限控制 -->
	<import resource="applicationContext-shiro.xml"/>
	
	<!-- ehcache -->
	<import resource="applicationContext-cache.xml"/>
	
</beans>